
body{

}

.header
{
    display: flex;
    width: 100%;
    justify-content: space-between;  
    border-bottom: 1px solid black;
    align-items: center;
    padding: 10px 25px;

   
}

.header-right
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 24px;

}

.header-right a:after{
    display:block;
    content: '';
    border-bottom: solid 2px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.header-right a:hover:after{
    transform: scaleX(1);
}